
header#header.header.header-intro
        .container
            .row
                .col-lg-8     
                    .header__menu
                        ul
                            -var list= ['Tài khoản của tôi','Trạng thái đơn hàng','Danh sách ưa thích','Giỏ hàng','Đăng nhập', 'Đăng ký']
                                each val in list
                                    li
                                        a(href='#')= val
                .col-lg-4
                    .header__search
                        input(type='text', name='search',placeholder='Tìm kiếm ở đây ...')
                        i.fas.fa-search
